<h2>Home</h2>
<div class="status good" ng-show-auth="login">
	<p>Hello! You are logged in.</p>
	<table class="table table-striped table-hover ">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>Column heading</th>
	      <th>Column heading</th>
	      <th>Column heading</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>1</td>
	      <td>Column content</td>
	      <td>Column content</td>
	      <td>Column content</td>
	    </tr>
	  </tbody>
	</table>
</div>
<p class="status" ng-show-auth="logout">Not logged in</p>
<p class="status error" ng-show-auth="error">{{auth.error}}</p>

<input ng-model="syncedValue" type="text" /> <b>{{syncedValue}}</b>

<p>Open <a ng-href="{{FBURL}}/syncedValue">Forge</a> or a <a target="_blank" href="#/">new window</a> to see this input update in real time:</p>

